/*
========================================
    WHOLE APP CONTENT
========================================
*/


/* For Buttons, Links, Modals, or anything clickable */
button,
.submit,
.helpful,
.photo {
  cursor: pointer;
}


/*
========================================
    MODAL
========================================
*/

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 1000;
  border-radius: 5px;
}

.overlay-styles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: .7;
  z-index: 1000;
}

.expanded-view-modal-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/*
========================================
    OVERVIEW
========================================
*/

.out-of-stock-main-image {
  background-image: url(https://www.drip.com/hubfs/Imported_Blog_Media/Out-of-Stock-Product-Pages-WordPress.jpg);
  background-size: cover;
  background-position: center;
  width: 575px;
  height: 575px;
  display: inline-block
}

.thumbnail-nav-bar {
  width: 82.5px;
  height: 575px;
  display: inline-block
}

.thumbnail-nav-bar-arrows {
  cursor: pointer
}

#thumbnail-nav-bar-images {
  width: 82.5px;
  height: 540px;
  overflow: hidden;
  scroll-snap-type: y mandatory
}

.thumbnail-nav-bar-image {
  width: 72.5px;
  height: 72.5px;
  cursor: pointer;
  scroll-snap-align: 'start'
}

.thumbnail-nav-bar-selected {
  border: 3px solid black
}

.fa-arrow-left-long {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 5px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.fa-arrow-right-long {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 5px;
  font-size: 35px;
  color: white;
  cursor: pointer;
}

.default-view {
  position: relative;
  width: 575px;
  height: 575px;
  display: inline-block;
}

.default-view-image {
  background-size: cover;
  background-position: center;
  width: 575px;
  height: 575px;
  cursor: zoom-in
}

.expanded-view-image {
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 700px;
  cursor: crosshair
}

.zoomed-view {
  background-size: 1875px;
  background-repeat: no-repeat;
  cursor: zoom-out;
}

.expanded-view-icons {
  display: flex;
  justify-content: center;
  padding: 2.5px
}

.fa-circle {
  font-size: 12px;
  margin-right: 2.5px;
}

/*
========================================
    RELATED PRODUCTS
========================================
*/

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 255px;
  height: 375px;
  margin: .85em;
  border-radius: .2rem;
  overflow: hidden;
  padding-bottom: 10px;
}

.card.card-shadow {
  position: relative;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

/* .card.add-outfit {

} */

.add-outfit-btn {
  display: block;
  margin: 1em;
  height: 20px;
  margin-top: 150px;
  text-align: center;
  border: none;
  border-radius: .8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  padding: 1em;
}

.add-outfit-btn:hover {
  cursor: pointer;
}

.favorite-icon {
  position: absolute;
  background-color: white;
  right: 0;
}

.card-image {
  overflow: hidden;
}

.card-image>img {
  display: block;
  width: 100%;
  max-height: 255px;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  object-position: center;
}

.no-image {
  display: block;
  width: 100%;
  max-height: 255px;
  aspect-ratio: 9 / 16;
}

.card-category,
.card-name,
.card-price,
.card-rating {
  padding-left: 5px;
  margin: 10px;
}

.card-category {
  text-transform: uppercase;
  font-size: small;
}

.card-name {
  font-size: large;
  font-weight: bold;
}

.card-price {
  font-size: small;
}

.comparison-modal-name {
  font-weight: bold;
}

.close-modal-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #FFF;
  z-index: 10000;
}

/* .card-rating {

} */


/*
========================================
    QUESTIONS AND ANSWERS
========================================
*/

#qa {
  display: grid;
  justify-items: center;
}

.qa-container {
  align-self: center;
  display: grid;
  max-height: 600px;
  max-width: 90%;
  overflow: scroll;
  grid-template-columns: 2fr 6fr;
  background-color: aliceblue;
  border: 2px solid grey;
  grid-template-areas:
    "title title"
    "search search"
    "q-list q-list"
}

.qa-title {
  grid-area: title;
  zoom: 125%;
  padding-left: 10px;
}

.search-question {
  grid-area: search;
  zoom: 125%;
  padding-left: 10px;
}

.questions-list {
  grid-area: q-list;
}

.questions-list,
.more-answered-questions,
.ask-question-modal {
  padding: 5px 10px 5px 10px;
}

.individual-question {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  padding: 0 5px 0 5px;
  border: 1.5px solid grey;
  grid-template-areas:
    "question q-body q-body q-body q-body q-body q-body q-body add-a add-a"
    "blank q-info q-info q-helpful q-helpful q-report q-report q-report q-report q-report"
    "answer render-a render-a render-a render-a render-a render-a render-a render-a render-a"
}

.blank {
  grid-area: blank;
}

.question {
  grid-area: question;
  justify-self: end;
}

.question-body {
  grid-area: q-body;
  word-wrap: break-word;
}

.answers {
  grid-area: answer;
  justify-self: end;
}

.render-answers {
  grid-area: render-a;
}

.question-info {
  grid-area: q-info;
}

.question-helpfulness {
  grid-area: q-helpful;
  justify-self: end;
}

.question-report {
  grid-area: q-report;
  justify-self: start;
}

.add-answer {
  grid-area: add-a;
  padding: 0 10px 0 0;
  justify-self: end;
}

.individual-answer {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  grid-gap: 5px;
  padding: 0 10px 0 10px;
  border: 1px solid grey;
  grid-template-areas:
    "a-body a-body a-body"
    "a-photos a-photos a-photos"
}

.individual-answer-body {
  grid-area: a-body;
  margin-top: 0;
  word-wrap: break-word;
}

.photos {
  grid-area: a-photos;
  word-wrap: break-word;
}

.answer-helpfulness {
  justify-self: end;
}

.answer-report {
  justify-self: start;
}

.load-answers {
  padding: 10px 0 10px 0;
}

/*
========================================
    RATINGS & REVIEWS
========================================
*/

.flexbox-container {
  display: flex;
  align-items: center;
}

.single-star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
  background-color: white;
}

.single-star-outline {
  height: 36px;
  width: 31px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: gold;
}

.btn-modal {
  background-color: antiquewhite;
  border-radius: 5px;
}

.sidebar {
  max-width: 225px;
}

.reviews-list {
  position: relative;
  top: -150px;
  left: 200px
}

.reviews-list-header {
  position: relative;
  right: -420px;
  top: -450px;
}

.reviews-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 21.25rem;
  border-radius: 0.625rem;
  margin: 2rem;
}

.reviews-card-text {
  background-color: white;
  max-width: 21.25rem;
  border-radius: 0.625rem;
  margin: 2rem;
}

.review-photo {
  height: 200px;
  width: 200px;
}

.reviews-image-button {
  height: 45px;
  width: 100px;
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 21.25rem;
  border-radius: 0.625rem;
  margin: 2rem;
}

.reviews-card-response {
  display: flex;
  flex-direction: row;
  background-color: gray;
  max-width: 21.25rem;
}

.reviews-card-helpful {
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 21.25rem;
}

.reviews-date {
  position: relative;
  left: 400px;
  text-align: right;
}

.sort-dropdown {
  position: relative;
  right: -40px;
}

.sort-dropdown-menu {
  position: relative;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 100px;
}

.sort-dropdown-menu>li {
  margin: 0;
  background-color: white;
}

.sort-dropdown-menu>li>button {
  width: 100%;
  height: 100%;
  text-align: center;
  background: white;
  color: blue;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.more-reviews-button {
  position: relative;
  bottom: -450px;
  left: -360px;
  height: 40px;
  width: 240px;
  display: flex;
  flex-direction: row;
  background-color: white;
  max-width: 21.25rem;
  border-radius: 10px;
  margin: 2rem;
}

.button-dropdown {
  text-decoration: underline;
  border: none;
  background-color: white;
  font-size: medium;
}

.btn-add-review {
  position: relative;
  left: 650px;
  bottom: 35px;
  font-weight: bold;
  color: rgba(7, 1, 1, 0.2);
  background-color: rgb(143, 187, 194);
  border-radius: 10px;
}

.textButton {
  background:none;
  border:none;
}

