/*
========================================
    RATINGS & REVIEWS
========================================
*/

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.single-star-container {
  height: 30px;
  width: 24px;
  display: inline-block;
  white-space: nowrap;
  background-color: white;
}

/* body {
  background-color: blue;
} */


/*
========================================
    OVERVIEW
========================================
*/


/*
========================================
    RELATED PRODUCTS
========================================
*/


/*
========================================
    QUESTIONS AND ANSWERS
========================================
*/


/*
========================================
    RATINGS
========================================
*/


/*
========================================
    REVIEWS
========================================
*/
