/*
========================================
    WHOLE APP CONTENT
========================================
*/

/* DARK THEME */
/* :root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;
}
:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  background: radial-gradient(
    circle 10vmax at var(--cursorX) var(--cursorY),
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.5) 80%,
    rgba(0,0,0,.95) 100%
  )
} */

/* body {
  zoom: 30%;
} */

#app-container {
  display: grid;
  font-family: sans-serif;
  justify-items: center;
}

html {
  scroll-behavior: smooth;
}

/* For Buttons, Links, Modals, or anything clickable */
button,
.submit,
.helpful,
.photo,
select {
  cursor: pointer;
}

button,
.submit {
  background-color: #FCFAF0;
  color: black;
  padding: 2px 5px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  /* margin-right: 5px; */
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px */
}

#banner {
  display: flex;
  justify-content: space-between;
  justify-self: stretch;
  align-items: center;
  height: 2.5em;
  padding: 20px 10px 0 10px;
  color: #738678;
  background-image: url(https://i.pinimg.com/564x/63/a7/f2/63a7f2a192df6526ecb57aa87d83bdc4.jpg);
  font-family: sans-serif;
  font-size: 25px;
}

.logo {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  top: 4px;
}

.company-name {
  display: inline-block;
  position: relative;
  top: -3px;
}

/*
========================================
    MODAL
========================================
*/

.modal-styles {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 30px;
  z-index: 1000;
  border-radius: 5px;
}

.overlay-styles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: .7;
  z-index: 1000;
}

.expanded-view-modal-style {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.qa-form {
  display: block;
  overflow: scroll;
}

.cancel-button {
  float: right;
  zoom: 125%;
  border: none;
  border-color: unset;
  color: red;
}


/*
========================================
    OVERVIEW
========================================
*/

#overview {
  margin-top: 50px;
  margin-bottom: 75px;
}

.image-gallery {
  display: inline-block;
  padding: 0 20px;
}

.overview-sidebar {
  display: inline-block;
  width: 500px;
  padding: 0 20px;
}

.product-name {
  margin-block-end: -5px;
  margin-block-start: -5px;
}

.out-of-stock-main-image {
  background-image: url(https://www.drip.com/hubfs/Imported_Blog_Media/Out-of-Stock-Product-Pages-WordPress.jpg);
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 600px;
  display: inline-block;
}

.thumbnail-nav-bar {
  width: 82.5px;
  height: 625px;
  display: inline-block;
}

.thumbnail-nav-bar-arrows {
  cursor: pointer;
}

#thumbnail-nav-bar-images {
  width: 82.5px;
  height: 575.5px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.thumbnail-nav-bar-image {
  width: 72.5px;
  height: 72.5px;
  cursor: pointer;
  border: 3px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.thumbnail-nav-bar-selected {
  border: 3px solid black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.image-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 30px;
  color: #EEEDE7;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background-color: rgba(105, 105, 105, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-arrow:hover {
  color: #5A5A5A;
}

.fa-angle-left {
  left: 5px;
}

.fa-angle-right {
  right: 5px;
}

.default-view {
  position: relative;
  width: 600px;
  height: 600px;
  display: inline-block;
}

.default-view-image {
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 600px;
  cursor: zoom-in;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.expanded-view-image {
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 800px;
  cursor: crosshair;
}

.zoomed-view {
  background-size: 2000px;
  background-repeat: no-repeat;
  cursor: zoom-out;
}

.expanded-view-icons {
  display: flex;
  justify-content: center;
  padding: 2.5px;
  cursor: pointer;
}

.fa-circle {
  font-size: 12.75px;
  color: white;
  margin-right: 2.5px;
}

.styles {
  margin: 25px 0px;
}

.style-selector {
  position: relative;
  display: inline-block;
}

.style-selector-thumbnail {
  width: 55px;
  height: 55px;
  margin-right: 7.5px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
}

.checkmark {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px;
  border-radius: 50%;
  background-color: green;
  color: white;
  width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
}

.add-to-cart {
  width: 75%;
}

.cart-dropdown {
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1.5px solid grey;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.size-selector {
  width: 60%;
}

.quantity-selector {
  width: 30%;
}

.add-to-cart-button {
  background-color: #5A5A5A;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 92.75%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.social {
  width: 20%;
  border: none;
  color: white;
  padding: 7px 0px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
}

.fb {
  background-color: #4267B2;
}

.twitter {
  background-color: #1DA1F2;
}

.pin {
  background-color: #E60023;
}

.overall-stars {
  zoom: 65%;
}

a:link {
  padding: 10px;
  color: #525252;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #525252;
  text-decoration: underline;
}

/*
========================================
    RELATED PRODUCTS
========================================
*/

.related-items-and-outfits-container {
  display: grid;
}

.card-container-container {
  width: 1500px;
  position: relative;
  display: inline-block;
  scroll-behavior: smooth;
  top: 50%;
  left: 56%;
  transform: translate(-50%, -50%);
}

.carousel-title {
  position: relative;
  left: 6.5%;
}

#card-container-related {
  display: inline-flex;
  justify-content: left;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 75%;
  overflow: hidden;
}

#card-container-outfit {
  display: inline-flex;
  justify-content: left;
  position: relative;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 75%;
  overflow: hidden;
}

.card-container {
  display: flex;
  justify-content: center;
  position: relative;
}

.cards-arrow {
  position: relative;
  padding: 20px 20px 20px 10px;
  top: -2.5em;
  color: black;
  zoom: 200%;
}

.cards-arrow-outfit {
  position: relative;
  padding: 20px 20px 20px 10px;
  top: 0.2em;
  color: black;
  zoom: 200%;
}

.cards-arrow-transparent {
  position: relative;
  padding: 20px 15px 20px 10px;
  top: 0.2em;
  color: white;
  zoom: 200%;
}

.card {
  min-width: 255px;
  height: 375px;
  margin: .85em;
  display: inline;
  scroll-snap-align: start;
  border-radius: .2rem;
  overflow: hidden;
  padding-bottom: 10px;
}

.related-items-card,
.outfits-card {
  cursor: pointer;
}

.card.card-shadow {
  position: relative;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}

.add-outfit-btn {
  margin: 1em;
  height: 20px;
  margin-top: 150px;
  text-align: center;
  border: none;
  border-radius: .8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  padding: 1em;
  margin-left: 2em;
}

.add-outfit-btn:hover {
  cursor: pointer;
}

.favorite-icon {
  position: absolute;
  border-radius: 50%;
  right: 0.7em;
  top: 0.7em;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.2px;
  background-color: rgba(105, 105, 105, 0.4);
}

.star-icon {
  color: gold;
}

.x-icon {
  color: white;
}

.star-icon:hover,
.x-icon:hover {
  color: red;
}

.card-image {
  overflow: hidden;
}

.card-image>img {
  display: block;
  width: 100%;
  max-height: 255px;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  object-position: center;
}

.out-of-stock-related-image {
  background-image: url(https://www.drip.com/hubfs/Imported_Blog_Media/Out-of-Stock-Product-Pages-WordPress.jpg);
  display: block;
  width: 100%;
  max-height: 255px;
  aspect-ratio: 9 / 16;
  background-size: cover;
  background-position: center;
}

.no-image {
  display: block;
  width: 100%;
  max-height: 255px;
  aspect-ratio: 9 / 16;
}

.card-category,
.card-name,
.card-price,
.card-rating {
  padding-left: 5px;
  margin: 10px;
}

.card-category {
  text-transform: uppercase;
  font-size: small;
}

.card-name {
  font-size: large;
  font-weight: bold;
}

.card-price {
  font-size: small;
}

.comparison-modal-name {
  font-weight: bold;
}

.close-modal-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  z-index: 10000;
}

/*
========================================
    QUESTIONS AND ANSWERS
========================================
*/

.qa-container {
  display: grid;
  max-height: 660px;
  margin-top: 40px;
  padding: 20px 80px;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  grid-template-columns: 2fr 6fr;
  grid-template-areas:
    "title title"
    "search search"
    "q-list q-list"
}

.qa-title {
  grid-area: title;
  zoom: 150%;
  padding-left: 15px;
}

.search-question {
  grid-area: search;
  background-color: white;
  zoom: 200%;
  padding: 5px;
  position: sticky;
  border: 1px solid grey;
  border-radius: 2px;
  top: 0;
  z-index: 999;
}

.questions-list {
  grid-area: q-list;
}

.questions-list,
.more-answered-questions,
.ask-question-modal {
  padding: 5px 10px 5px 10px;
}

.individual-question {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10, 1fr);
  padding: 0 5px 0 5px;
  border-radius: 2px;
  grid-template-areas:
    "question q-body q-body q-body q-body q-body q-body q-body add-a add-a"
    "blank q-info q-info q-info q-helpful q-helpful q-report q-report q-report q-report"
    "answer render-a render-a render-a render-a render-a render-a render-a render-a render-a"
}

.blank {
  grid-area: blank;
}

.question {
  grid-area: question;
  justify-self: end;
}

.question-body {
  grid-area: q-body;
  word-wrap: break-word;
}

.answers {
  grid-area: answer;
  justify-self: end;
}

.render-answers {
  grid-area: render-a;
}

.question-info {
  grid-area: q-info;
}

.question-helpfulness {
  grid-area: q-helpful;
  justify-self: end;
}

.question-report {
  grid-area: q-report;
  justify-self: start;
  margin-top: 14px;
}

.add-answer {
  grid-area: add-a;
  padding: 0 10px 0 0;
  justify-self: end;
}

.question-input {
  border: none;
}

.individual-answer {
  display: grid;
  grid-template-columns: 4fr 2fr 4fr;
  grid-gap: 5px;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgb(0, 0, 0, .1);
  grid-template-areas:
    "a-body a-body a-body"
    "a-photos a-photos a-photos"
}

.individual-answer-body {
  grid-area: a-body;
  margin-top: 0;
  word-wrap: break-word;
}

.photos {
  grid-area: a-photos;
  word-wrap: break-word;
}

.answer-helpfulness {
  justify-self: end;
}

.answer-report {
  justify-self: start;
  margin-top: 15px;
}

.load-answers {
  padding: 10px 0 10px 0;
}

/*
========================================
    RATINGS & REVIEWS
========================================
*/


.ratings-and-reviews {
  margin-top: 40px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  max-height: 660px;
  max-width: 1070px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  overflow-x: hidden;
  border-radius: 5px;
  padding: 20px 40px;
}

.bar-chart {
  line-height: .5;
}

.align-ratings-breakdown-header {
  margin-left: 4%;
}

.single-star-container {
  height: 36px;
  width: 31px;
  display: inline-block;
  background-color: white;

}

.single-star-outline {
  height: 36px;
  width: 31px;
}

.single-star-fill {
  position: relative;
  display: inline-block;
  height: 36px;
  background-color: gold;
}

.review-boxes {
  padding-right: 20px;
  overflow: hidden;
  max-width: 70%;
}

.reviews-body {
  overflow: scroll;
}

.ratings-breakdown {
  flex-basis: 40%;
}

.reviews-list {
  width: 100%;
  position: relative;
  line-height: 1.5;
  padding-left: 5%;
}

.add-review-btn {
  color: blue;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.load-more-reviews-btn {
  color: blue;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.reviews-date {
  float: right;
  padding-right: 10%;
  margin-top: -5%;
}

.textButton {
  background: none;
  border: none;
}

.flexbox-container {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 0;
}

.sort-dropdown {
  position: relative;
  right: -40px;
}

.sort-dropdown-menu {
  position: relative;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  border: 1px solid grey;
  width: 100px;
}

.sort-dropdown-menu>li {
  margin: 0;
  background-color: white;
}

.sort-dropdown-menu>li>button {
  width: 75%;
  height: 75%;
  text-align: center;
  background: white;
  color: blue;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.button-dropdown {
  margin-left: -36px;
  background: none;
  border: none;
  display: inline-block;
  font-size: 25px;
}

.button-dropdown:hover {
  text-decoration: underline;
}