/*
========================================
    RATINGS & REVIEWS
========================================
*/

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.single-star-container {
  height: 30px;
  width: 24px;
  display: inline-block;
  white-space: nowrap;
  background-color: white;
}

/* body {
  background-color: blue;
} */


/*
========================================
    OVERVIEW
========================================
*/


/*
========================================
    RELATED PRODUCTS
========================================
*/

/* .card-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  max-width: 100px;
  max-height: 200px;
  border: solid;
} */

/* .card-container {
  display
} */


/*
========================================
    QUESTIONS AND ANSWERS
========================================
*/


/*
========================================
    RATINGS
========================================
*/


/*
========================================
    REVIEWS
========================================
*/
